/Packages

**/packages
**/bin
**/obj
**/.vs
**/.idea

*.hlsl.h
**/Build_VS16
**/Build
**/x64
**/CompiledShaders

*.vcxproj.user
*.opendb
*.user
*.suo
*.VC.db*
*.shader_inc
*.vspscc
*.opensdf
*.sdf
*.ipch
*.cache
*.tlog
*.lastbuildstate
*.ilk
*.log
